.gist iframe.render-viewer {
   height: 100%!important;
   max-height: 100%!important;
   overflow: hidden!important;
  }
   
.gist .gist-render iframe {
   height: 100%!important;
   width:100%;
   overflow: visible!important;
   }
